@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  background: #f5f6f7;
}

main {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 1rem;
}

main > h1 {
  text-align: center;
}

.Add-message {
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Add-message input {
  margin: 1rem auto;
  width: 10rem;
  padding: 0.5rem;
  background-color: lightgray;
}

.Add-message button {
  width: 25%;
  padding: 0.7rem;
  border: 1px solid #00b8e6;
  background: blue;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.Add-message button:hover {
  background: #0093b8;
}

.Add-message button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.Message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.Message:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.Message h1 {
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.7rem;
}

.Message p {
  padding-right: 1rem;
  color: #444;
}
.Message button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #d34b4b;
  background: #d34b4b;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.Message button:hover {
  background: #e06a6a;
}

.Div-Input {
  flex-direction: column;
  align-self: center;
  line-height: normal;
}

.Icon-delete {
  width: 20px;
  height: 20px;
}
